@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-image: url('/images/fancycrave-264511-unsplash.jpg');
    background-size: cover;
    color: #000;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  #welcome_header {
    font-size: 8em;
    padding: 40px;
  }

  #welcome_subhead {
    font-size: 1.75em;

  }

  .welcome_links {
    padding-top: 30px;
    font-size: 1.5em;
  }

  .welcome_links a {
    text-decoration: none;
  }

  .welcome_links a:hover {
    color: #4CAF50;
  }

  .welcome_text {
    text-align: center;
    color: #fff;
  }

/* --- Header Layout Styles --- */

  .white_bar {
    background-color: rgba(100, 100, 100, 0.5);
    padding: 40px;
    margin-top: 8%;
  }


  .dark_bg_link {
    color: #fff;
    text-decoration: none;
  }

  .dark_bg_link:hover{
    color: #4CAF50;
  }

  .wrapper {
    background: rgba(26, 26, 26, 0.75);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    /* border-bottom: 2px solid #ccc; */
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 10px;
  }

  nav {
    padding-top: 2%;
    text-align: right;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
  }

  nav a:hover {
    color: #4CAF50;
  }

  form {
    margin: 0 auto;
    width:250px;
    color: #fff;
  }

  .prefilled_form {
    text-align: left;
    color: #fff;
    width: 250px;
    margin: 0 auto;
  }

  .prefilled_form h4 {
    font-size: 1.25em;
    margin: 8px 0;
    text-align: left;
  }

  input[type=text], input[type=password], textarea {
    width: 250px;
    height: 30px;
    font-size: .75em;
  }

  input::placeholder {
    font-size: 1.25em;
  }

  input[type=submit], button, input#delete {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    left: 20px;
}

/* User Show Page */
 .user_route_card {
   width: 25%;
   display: inline-block;
   padding: 15px;
   margin: 5px;
   border: 3px solid #272626;
   vertical-align: top;
   background: #3a3a3a;
   border-radius: 5px;
   height: 100px;
   overflow: auto;
 }

 .route_details .user_route_card a{
   color: #237572;
   font-size: 1.5em;
   text-decoration: none;
   font-weight: bold;
 }

 .route_details .user_route_card a:hover, .route_users:hover{
   color: #62A1A4;
 }

 .route_details {
   color: #696969;
   margin: 0 auto 10px;
 }
/*
 .route_details a {
   font-style: italic;
   font-weight: bold;
   font-size: 28px;
   padding-right: 10px;

 } */

 .route_users {
   color: #4c4c4c;
   font-size: 18px;
   display: inline;
 }

 h1.show_page_headers, h3.show_page_headers {
   text-align: left;
 }

 /* Route Forms */

 div.form_bar{
   margin-top: 3%;
 }
/* Route Show Page */
 .user_status {
   color: #fff;
 }

 .route_show_text {
   text-align: left;
 }
  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    color: #fff;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
