
<div class="white_bar">
<h1 class="welcome_text">Login to access your account</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login">
</form>
<br><br>
<p class="welcome_text">Don't have an account? Sign up <a class="dark_bg_link" href="/signup">here</a></p>

</div>
