<h1>Welcome, <%= @user.username %></h1>
<h3> Here is a list of all your routes: </h3>

<ul>
  <% @user.routes.each do |r| %>
    <li><a href="/routes/<%= r.id %>"> <%= r.name %></a> </li>
  <% end %>
</ul>
