<div class="container">
  <header></header>
  <div class="white_bar col-md-8 col-md-offset-2">
    <h2 id="welcome_header" class="welcome_text">Route Finder</h2>
    <h4 id="welcome_subhead" class="welcome_text">Keep track of all your latest projects!</h4>
  </div>
    <a class="button welcome_text" href="/signup">Sign Up</a>
    <h4 class="welcome_text">or</h4>
    <a  class="button" href="/login">Login</a>


</div>
